<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bugfree octo-avenger</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">

        <!--
        CSS files. Currently less beeing rendered on the run. If you want vanilla
        css files, in the root of this repo, run
            lessc css/src/style.less > css/style.css
        and link to the css file instead of the less file. Bootstrap will be included.
        -->
        <link rel="stylesheet/less" href="css/src/style.less" type="text/css" />
        <script src="script/libs/less.min.js"></script>
    </head>
    <body ng-app="bugfree">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> or
            <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
            to improve your experience.</p>
        <![endif]-->

        <header id="header">
            <div class="wrapper">
                <h1>
                    Bugfree octo-avenger
                </h1>
                <p>
                    Welcome! We keep track of the competitors at the Vint run. Add all the awesome runners and
                    compare their results.
                </p>
            </div>
        </header>
        <main class="wrapper">
            <div id="main" ng-controller="Result">
                <div id="insert">
                    <h3 class="section">New competitor</h3>

                    <form ng-submit="addEntry()" name="entryForm" novalidate>
                        <div class="form-group">
                            <label for="first_name" class="control-label">
                                First name
                            </label>
                            <input type="text" placeholder="First name" id="first_name" ng-model="first_name"
                                ng-required="true" ng-minlength="1" required>
                        </div> <!-- end .form-group -->
                        <div class="form-group">
                            <label for="last_name" class="control-label">
                                Last name
                            </label>
                            <input type="text" placeholder="Last time" id="last_name" ng-model="last_name"
                                ng-required="true" ng-minlength="1" required>
                        </div> <!-- end .form-group -->
                        <div class="form-group" id="time">
                            <label for="time_hh" class="control-label">
                                End time
                            </label>
                            <div class="input-group">
                                <label class="sr-only" for="time_hh">Hours</label>
                                <input type="number" ng-model="time_hh" id="time_hh" placeholder="HH" min="0"
                                    ng-required="true" required>
                                <label class="sr-only" for="time_mm">Minutes</label>
                                <input type="number" ng-model="time_mm" id="time_mm" placeholder="MM" min="0" max="59"
                                    ng-required="true" required>
                                <label class="sr-only" for="time_ss">Seconds</label>
                                <input type="number" ng-model="time_ss" id="time_ss" placeholder="SS" min="0" max="59"
                                    ng-required="true" required>
                            </div>
                        </div> <!-- end .form-group -->
                        <div class="form-group">
                            <button ng-disabled="entryForm.$invalid">
                                <span class="glyphicon glyphicon-{{entryForm.$invalid ? 'exclamation' : 'plus'}}-sign"></span>
                                {{entryForm.$invalid ? 'Fill out the form' : 'Add runner!'}}
                            </button>
                        </div>
                    </form>
                </div>

                <div id="results">
                    <div id="title">
                        <div class="title">
                            <h3 class="section">Results</h3>
                        </div>
                        <div class="search">
                            <p>
                                <input type="search" ng-model="search" placeholder="Filter result...">
                            </p>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover" data-order="{{predicate}}" data-reverse="{{reverse}}">
                            <thead>
                                <tr>
                                    <!-- <th>
                                        &nbsp;
                                    </th> -->
                                    <th>
                                        <a href="" ng-click="predicate = 'first_name'; reverse=!reverse">
                                            First name
                                            <span ng-show="predicate == 'first_name'"
                                                class="glyphicon glyphicon-chevron-{{reverse == false ? 'down' : 'up'}}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="" ng-click="predicate = 'last_name'; reverse=!reverse">
                                            Last name
                                            <span ng-show="predicate == 'last_name'"
                                                class="glyphicon glyphicon-chevron-{{reverse == false ? 'down' : 'up'}}"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="" ng-click="predicate = 'time'; reverse=!reverse">
                                            End time
                                            <span ng-show="predicate == 'time'"
                                                class="glyphicon glyphicon-chevron-{{reverse == false ? 'down' : 'up'}}"></span>
                                        </a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <!--
                                Display results, and order by the predicate var. If ordered by time,
                                hours comes first, then minutes, then seconds.
                                -->
                                <tr ng-repeat="entry in entries | orderBy:(predicate == 'time' ? ['time.hh', 'time.mm', 'time.ss'] : predicate):reverse | filter:search">
                                    <!-- <td>{{$index + 1}}</td> -->
                                    <td>{{entry.first_name}}</td>
                                    <td>{{entry.last_name}}</td>
                                    <td>
                                        <!-- Display time with the the filter PrettyTime. -->
                                        {{entry.time | prettyTime}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <!-- JavaScript libraries -->
        <script src="script/libs/angular.min.js"></script>
        <!-- Javascript -->
        <script src="script/main.js"></script>
    </body>
</html>
