<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bugfree octo-avenger</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">

        <!-- Browser favicon -->
        <link rel="shortcut icon" href="favicon.png">

        <!-- CSS files -->
        <link rel="stylesheet/less" href="css/src/style.less" type="text/css" />
        <script src="script/libs/less.min.js"></script>
    </head>
    <body ng-app="bugfree">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> or
            <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
            to improve your experience.</p>
        <![endif]-->

        <header class="wrapper">
            <h1>
                Bugfree octo-avenger
            </h1>
        </header>
        <main class="wrapper">
            <div id="main" ng-controller="Result">
                <div id="insert">
                    <h3 class="section">Ny tävlande</h3>

                    <form ng-submit="addEntry()">
                        <p class="form-group">
                            <label for="first_name">
                                Förnamn
                            </label>
                            <input type="text" placeholder="Förnamn" id="first_name" ng-model="first_name" required>
                        </p> <!-- end .form-group -->
                        <p class="form-group">
                            <label for="last_name">
                                Efternamn
                            </label>
                            <input type="text" placeholder="Efternamn" id="last_name" ng-model="last_name" required>
                        </p> <!-- end .form-group -->
                        <div class="form-group" id="time">
                            <label for="time_hh">
                                Sluttid
                            </label>
                            <div class="input-group">
                                <input type="number" ng-model="time_hh" id="time_hh" placeholder="HH" min="0" required>
                                <input type="number" ng-model="time_mm" id="time_mm" placeholder="MM" min="0" max="59" required>
                                <input type="number" ng-model="time_ss" id="time_ss" placeholder="SS" min="0" max="59" required>
                            </div>
                        </div> <!-- end .form-group -->
                        <p>
                            <button>
                                <span class="glyphicon glyphicon-plus-sign"></span> Lägg till tävlande!
                            </button>
                        </p>
                    </form>
                </div>
                <div id="results">
                    <div id="title">
                        <div class="title">
                            <h3 class="section">Resultat</h3>
                        </div>
                        <div class="search">
                            <p>
                                <input type="search" ng-model="search" placeholder="Filtrera resultat...">
                            </p>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover" data-order="{{predicate}}" data-reverse="{{reverse}}">
                            <thead>
                                <tr>
                                    <!-- <th>
                                        &nbsp;
                                    </th> -->
                                    <th>
                                        <a href="" ng-click="predicate = 'first_name'; reverse=!reverse">
                                            <span ng-show="predicate == 'first_name';"
                                                class="glyphicon glyphicon-sort-by-alphabet{{reverse == true ? '-alt' : ''}}"></span>
                                            Förnamn
                                        </a>
                                    </th>
                                    <th>
                                        <a href="" ng-click="predicate = 'last_name'; reverse=!reverse">
                                            <span ng-show="predicate == 'last_name';"
                                                class="glyphicon glyphicon-sort-by-alphabet{{reverse == true ? '-alt' : ''}}"></span>
                                            Efternamn
                                        </a>
                                    </th>
                                    <th>
                                        <a href="" ng-click="predicate = 'time'; reverse=!reverse">
                                            <span ng-show="predicate == 'time';"
                                                class="glyphicon glyphicon-sort-by-order{{reverse == true ? '-alt' : ''}}"></span>
                                            Sluttid
                                        </a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="entry in entries | orderBy:(predicate == 'time' ? ['time.hh', 'time.mm', 'time.ss'] : predicate):reverse | filter:search">
                                    <!-- <td>{{$index + 1}}</td> -->
                                    <td>{{entry.first_name}}</td>
                                    <td>{{entry.last_name}}</td>
                                    <td>
                                        {{entry.time | prettyTime}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="wrapper">

        </footer>

        <!-- JavaScript libraries -->
        <script src="script/libs/angular.min.js"></script><!--
        <script src="script/libs/jquery.min.js"></script>
        <script src="script/libs/bootstrap.min.js"></script> -->
        <!-- Javascripts -->
        <script src="script/main.js"></script>
    </body>
</html>
